# Extracting data from relational databases

## SQLite database

### import package

In [1]:
# import sqlite3 package

import sqlite3

In [15]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [16]:
#Open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
create_table = """
        CREATE TABLE classroom(
        student_id INTEGER PRIMARY_KEY,
        name VARCHAR(20),
        gender CHAR(1),
        physics_marks INTEGER,
        chemistry_marks INTEGER,
        mathematics_marks INTEGER);      
        """
cursor.execute(create_table)
connection.commit()
connection.close()

In [17]:
classroom_data = [(1,"Mark","M",80,84,92),
                 (2,"James","M",60,74,52),
                 (3,"Mary","F",82,82,66),
                 (4,"Stella","F",60,54,42)]
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
for student in classroom_data:
    insert_statement = """ INSERT INTO classroom 
    (student_id,name,gender, physics_marks,chemistry_marks,mathematics_marks) 
        VALUES
        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    print(insert_statement)
    cursor.execute(insert_statement)

connection.commit()
connection.close()

 INSERT INTO classroom
    (student_id,name,gender, physics_marks,chemistry_marks,mathematics_marks)
        VALUES
        (1,"Mark","M",80,84,92);
 INSERT INTO classroom
    (student_id,name,gender, physics_marks,chemistry_marks,mathematics_marks)
        VALUES
        (2,"James","M",60,74,52);
 INSERT INTO classroom
    (student_id,name,gender, physics_marks,chemistry_marks,mathematics_marks)
        VALUES
        (3,"Mary","F",82,82,66);
 INSERT INTO classroom
    (student_id,name,gender, physics_marks,chemistry_marks,mathematics_marks)
        VALUES
        (4,"Stella","F",60,54,42);

## Extract data

In [18]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

query = "SELECT * FROM classroom"

cursor.execute(query)

result = cursor.fetchall()

for row in result:
    print(row)

connection.close()

(1, 'Mark', 'M', 80, 84, 92)
(2, 'James', 'M', 60, 74, 52)
(3, 'Mary', 'F', 82, 82, 66)
(4, 'Stella', 'F', 60, 54, 42)

### Microsoft SQL server database

## Install package

In [1]:
import pymssql

In [8]:
cnx = {
    'host':'xxx\xx:1433',
    'username':'xxx',
    'password':'xxx',
    'db':'xxx'    
}

conn = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
conn.close()

OperationalError: (20009, b'Unknown error')